/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

html, body {
  color: #5a5a5a;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Poppins', sans-serif;
  min-height: 100%; 
  position: relative;
  background-color: #E1EBEE;
}

#navbar_logo {
  height: 60px;
  max-height: 5vw;
}

#navbar_logof {
  margin-top: 25px;
  margin-left: 15px;
}

.navbar {
  background-color:	#5072A7;
  height: 4rem;
  margin-bottom: 5px;
}

.nav-item{
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
}

.navbar-nav {
  margin-left: auto;
}

.article-img {
  height: 65px;
  width: 65px;
  margin: 16px; 
}

.post-title {
  font-weight: bold;
  line-height: 1.2;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 40rem;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: auto;
}

.img_carousel{
  max-width: 100%;
  height: auto;
}

.carousel-inner {
  width: 100%;
  max-height: 100%;
}

.carousel-item img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.footer {
  height: 50px; /* Adjust the height of the footer accordingly */
  position: relative;
  bottom: 0;
  width: 100%;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
/* rtl:begin:ignore */
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}
/* rtl:end:ignore */

.card-body{
  height: 150px;
}

.image-container {
  width: 140px;
  height: 140px;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto;
}

.img-fluid {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  /* rtl:remove */
  letter-spacing: -.05rem;
}

.text-colour{
  color: #5072A7;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}






